body {
    font-size: 2rem;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
}

.herobg {
    background: url(../assets/doToList.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    .signInOut {
        background: rgba(190, 197, 97, 0.9);
        padding: 20px;
        border-radius: 20px;
    }

    p {
        font-size: 2.5rem;
    }
}

h1,
h2{
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

p {
    margin: 0;
    display: inline-block;
}
::placeholder,
::-webkit-input-placeholder {
    opacity: 1;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #ffffe7;
}