body {
    font-size: 2rem;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
}

h1,
h2{
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 4rem;
}

p {
    margin: 0;
    display: inline-block;
}

::placeholder {
    opacity: 1;
}