body {
    font-size: 2rem;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
    text-align: center;
}

h1 { 
    justify-self: center;
    font-size: 7.5rem;
    opacity: .85;
}

h2 {
    font-size: 5rem;
    font-weight: 400;
}

h3 {
    font-size: 3rem;
    color: #a2d416;
}

h1,
h2,
h3,
p {
    margin: 0;
}

header {
    // Background is from unsplash.com made by Brooke Lark
    background: url(../assets/headerBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: grid;
}

header h1,
header .headerButton {
    align-self: end;
}

header .headerButton {
    margin-bottom: 100px;
    justify-self: center;
}

h1,
header button {
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
}

header .headerButton button {
    background: transparent;
    border: transparent;
    font-size: 5rem;
}

header .headerButton button:hover,
header .headerButton button:focus {
    scale: 1.5;
    transition: all 0.3s;
}

::placeholder {
    opacity: 1;
}

// Footer

footer {
    background: #a2d416;
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

footer > * {
    padding: 10px;
    transition: all 0.3s;
}

footer .github {
    color: #333;
}

footer .linkedin {
    color: #0e76a8
}

footer .github:hover,
footer .github:focus,
footer .linkedin:hover,
footer .linkedin:focus {
    transform: scale(1.2);
}
